<main id="bio">
	<h2>Bio</h2>
	  <p>Rachel Barone is a dependable worker, fast learner, and her fascination with the jewelry industry means that she is always willing to take on a new challenge. She is an summer intern for the <a href="http://www.annasheffield.com/">Anna Sheffield Company</a>, is completing her degree in Metals and Jewelry Design, and creates pieces on the side as well.</p>
</main>