<main id="bio">
	<h2>Bio</h2>
  <p>Rachel was born and raised in Syracuse, New York where she quickly realized her desire to create. Originally her talents drew her to Illustration, however upon taking multiple electives involving metal working while attending college, she realized her love for working three dimensionally.</p>
	<p>Rachel is currently working towards her BFA in Metals and Jewelry Design at Rochester Institute of Technology. She has learned a variety of metal working techniques and is always eager to learn more. While her design aesthetic ranges, it primarily deals with tension, and the juxtaposition of organic and geometric forms.</p>
</main>