<main id="resume">
	<h2>Resume</h2>
		
	<section>
		<h3>Design Experience</h3>
		<p>Designing one of a kind pieces for various projects and assignments. Ability to create both pencil drawings and colored renderings. Also familiar with CAD, including Rhino software. Background in Illustration and Painting. Work by evolving ideas through sketching, resulting in an intricate form.</p>
	</section>
	
	<section>
		<h3>Technical Skills</h3>
		<p>Creating maquettes, as well as clay and wax models. Knowledge of basic soldering and fabrication. Also familiar with lost wax casting, polishing, burnishing and other applicable finishing with a flex shaft. Basic jewelry techniques such as sizing, bezel setting and shaping as well. Familiar with materials including sterling and fine silver, brass and copper.</p>
	</section>
        <section>
                <h3>Exhibitions</h3>
                <p>Undergrad Student Honors Exhibition at Bevier Gallery 2014</p>
        </section>        
	<section>
		<h3>Employment</h3>
		<ul>
			<li>
				<h4>Pier 1 Imports</h4>
				<datetime>09/2013 - present</datetime>
				<p>This retail store provided the knowledge of how to sell a product, as well as how to interact with customers and learn to decipher their needs. Duties included cleaning, stocking, unloading the truck, working with customers on the sales floor, cashing out customers, working with the other associates to set up displays, filling orders and greeting customers.</p>
			</li>
			
			<li>
				<h4>Office of FInancial Aid and Scholarships</h4>
				<datetime>05/2013 - 09/2013</datetime>
				<p>This office is located at Rochester Institute of Technology, where I was employed as an office assistant for the summer of 2013. Work included fulfilling basic tasks such as data entry, scanning documents, writing emails, and various other tasks that helped lighten the workload of the other full-time employees.</p>
			</li>
		</ul>
	</section>
	
	<section>
		<h3>Education</h3>
                <h4>Candidate for Bachelors in Metals and Jewelry Design</h4>
                <datetime>May 2016</datetime>
		<summary>School of American Crafts at Rochester Institute of Technology</summary>
	</section>
	
	<section>
		<h3>Honors</h3>
                <p>Dean's List at Rochester Institute of Technology since 2011</p>
                <p>Barbra Heinrich’s Outstanding Sophomore Award 2014</p>
	</section>
	
	<p>Portfolio and references available upon request.</p>
</main>
