<p>Hi, Rachel!</p>

<p>You received a new message :) Here are the details:</p>

<blockquote><%= @message.list_attributes.html_safe %></blockquote>

<small>Hit reply to message <%= "<i>#{@message.first_name}</i>".html_safe %> back!</small>

<p>Thanks,<br>
<i>bot@rachelbarone.com</i></p>
